<p id="notice"><%= notice %></p>

<h1>Feeds</h1>

<div class="row">
  <% @feeds.each do |feed| %>
    <div class="col-md-4 mb-3 text-center">
      <%= link_to image_tag(feed.image.url), feed %>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Feed', new_feed_path, class:"btn btn-success" %>
